@import "tailwindcss";

body {background-color: #050505;}
/* span{background-color: transparent;} */

/* Hotel Bookings Website Front Page Styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Inter', 'Poppins', sans-serif;
}

h2, h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.will-change-transform {
  will-change: transform;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
}
